* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.conteudo {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(/IMG/imagem\ de\ fundo\ animal.webp) no-repeat center/cover;
    position: relative;

}

.menu {
    color: blueviolet;
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 200px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.menu div h2 {
    font-size: 40px;
}

.navbar {
    width: 200px;
    height: 60%;

}

nav ul {

    font-family: Impact, fantasy;
    font-weight: 500;
    font-size: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

a {
    color: white;
}

.main {

    width: 100%;
    height: 100vh;

}

.header {
    background-color: white;
    width: 100%;
    height: 100px;
    text-align: center;
}

.content {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo {
    margin: -100px;
    font-size: 3rem;
    color: silver;
    text-align: center;
    padding: 10px;

}

span {
    color: blueviolet;
    font-weight: bold;
}



.saibamais {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
    width: 40%;
    height: 400px;
    text-indent: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

table tr th {
    background-color: green;
}

table {
    color: black;
    background-color: rgb(247, 242, 234);
    border: solid 1px black;
    border-radius: 2px;
    -webkit-box-shadow: 11px 7px 19px -3px rgba(166, 96, 247, 1);
    -moz-box-shadow: 11px 7px 19px -3px rgba(166, 96, 247, 1);
    box-shadow: 11px 7px 19px -3px rgba(166, 96, 247, 1);
}

table tr:nth-child(even) td {
    background-color: skyblue;


}

table caption {
    background-color: silver;
    color: black;
    font-weight: 600;
    border: solid 1px black;

}


.footer {

    display: flex;
    justify-content: space-around;

}

img {

    margin: 5px;
    margin-right: 30px;
    border-radius: 80px;
}